{% load custom_templates %}

<div id="login-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="password-change-title">Войти</div>
                <div class="password-change-border"></div>
                <form method="post" class="login-form">
                    {% csrf_token %}
                    {% login %}
                    <button type="button" class="btn btn-primary btn-md login-subm">войти</button>
                </form>
            </div>
            <div class="login-error-messages"></div>
            <div class="password-change-border"></div>
            <div class="modal-footer">
                <a href="/password_recovery/">Забыли пароль?</a>
                <button type="button" class="btn btn-primary btn-md password-reset-close" data-dismiss="modal">закрыть</button>
            </div>
        </div>
    </div>
</div>