<div class="col-lg-12 col-sm-6 col-md-12">
    {% if user.is_authenticated %}
        <div id="user-dynamic-info">
            <div id="subscriptions">
                <span class="glyphicon glyphicon-pencil"></span> Подписки и фильтры
            </div>
            <div id="private-messages">
                <span class="glyphicon glyphicon-envelope"></span>
                <a href="/message_list/all/">
                    Сообщения: {{ user.messagelist.unread_messages }}
                </a>
            </div>
            <div>
                <span class="glyphicon glyphicon-arrow-up"></span>
                <span id="user-rating">Рейтинг: {{ user.get_user_rating }}</span>
            </div>
        </div>
    {% endif %}

</div>






<div id="sidebar">
    <div class="row row-sidebar">
        <div class="col-lg-12 col-sm-6 col-md-12">

            {% if user.is_authenticated %}
                <div class="panel panel-default sidebar">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <img src="{{ user.get_avatar }}" class="img-circle" style="height:80px">
                            </div>
                            <div class="col-xs-8">
                                <div id="subscriptions">
                                    <span class="glyphicon glyphicon-pencil"></span> Подписки и фильтры
                                </div>
                                <div id="private-messages">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <a href="/message_list/all/">
                                        Сообщения: {{ user.messagelist.unread_messages }}
                                    </a>
                                </div>
                                <div>
                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                    <span id="user-rating">Рейтинг: {{ user.get_user_rating }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="panel panel-default sidebar">
                    <div class="panel-heading">
                        Последние комментарии
                    </div>
                    <div class="panel-body">
                    <div class="recent-comment-list">
                        {% for comment in RECENT_COMMENTS %}
                            <div class="recent-comment">
                                <div class="image">
                                    <img src="{{ comment.author.get_avatar }}" class="img-circle" style="height: 50px">
                                </div>
                                <div class="text">
                                    <div class="info">
                                        {% if comment.author %}
                                            {{ comment.author }}
                                        {% else %}
                                            Аноним
                                        {% endif %}
                                        {{ comment.created }}
                                    </div>
                                    <div class="com">
                                        {{ comment.text }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default sidebar popular-articles">
                <div class="panel-heading">
                    Популярные посты
                </div>
                <div class="panel-body">
                    {% for article in POPULAR_ARTICLES %}
                        <div class="popular-article-title">

                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default sidebar">
                <div class="panel-heading">
                    Тэги
                </div>
                <div class="panel-body">
                    <ul class="tags">
                    {% for tag in TAGS %}
                        <li><button type="button" class="btn btn-primary btn-sm tag">{{ tag.tag }}</button></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
